* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

h1 {
  text-align: center;
  margin: 50px 0px 20px;
  font-family: Lato;
  font-size: 30px;
}

p {
  margin: 0 25px 20px;
  font-family: raleway;
  font-size: 18px;
}

.inputField {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 25px;
  align-items: center;
}

label {
  font-family: Raleway;
  text-transform: uppercase;
}

input {
  border: none;
  padding: 3px 7px;
  font-size: 15px;
  box-shadow: 2px 4px 10px grey;
}

a {
  margin: 5px 25px;
  padding: 5px 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Raleway;
  float: right;
  border: none;
  background-color: lightgray;
  text-decoration: none;
  color: black;
}
