$textColor: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

h1,
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#tentBackground {
  background-image: repeating-linear-gradient(90deg, red, red 50px, white 50px, white 100px);
  background-image: url(/assets/tent.svg);
  width: 100vw;
  min-height: 100vh;
  height: min-content;
  background-size: cover;
  background-position: center top;
  position: relative;
  padding-bottom: 30px;

  header {
    width: 100%;
    text-align: center;
    color: $textColor;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .heading {
      grid-area: 1 / 2 / 2 / 3;
    }

    .logo {
      background-image: url(/assets/logo-02.svg);
      background-size: contain;
      background-repeat: no-repeat;
      height: 140%;
      width: 70vw;
      background-position: center;
    }

    .admin {
      grid-area: 1 / 3 / 2 / 4;
      align-self: center;
      justify-self: flex-end;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      font-family: sans-serif;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
      }

      .icon {
        background-image: url(/assets/admin_button.svg);
        background-size: contain;
        height: 40px;
        width: 40px;
      }
    }
  }
}

/********** SPIL **********/

.water {
  height: 67.575vw;
  width: 85vw;
  max-width: 402.5px;
  max-height: 320px;
  margin: 40px auto 0;
  border-radius: 10%;
  background-image: url(/assets/screen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.ripple {
  background-image: url(/assets/screen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  height: 82%;
  width: 85%;
  //   max-width: 402.5px;
  //   max-height: 320px;
  position: absolute;
  z-index: 0;
  filter: url("#turbulence");
}

@keyframes water {
  0% {
    background-size: 95%;
  }
  25% {
    background-size: 93%;
  }
  50% {
    background-size: 95%;
  }
  75% {
    background-size: 97%;
  }
  100% {
    background-size: 95%;
  }
}

#game {
  // background-image: url(/assets/edge.svg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  z-index: 2;

  .edge {
    svg {
      height: 100%;
      width: 100%;

      circle[fill="#FF0000"] {
        animation: redLightChange 4s linear infinite;
      }
      circle[fill="#FEE503"] {
        animation: greenLightChange 4s linear infinite;
      }
      circle[fill="#1CC637"] {
        animation: blueLightChange 4s linear infinite;
      }
      circle[fill="#0500FF"] {
        animation: yellowLightChange 4s linear infinite;
      }

      @keyframes redLightChange {
        0% {
          fill: #ff0000;
        }
        25% {
          fill: #ff0000;
        }
        26% {
          fill: #fee503;
        }
        50% {
          fill: #fee503;
        }
        51% {
          fill: #0500ff;
        }
        75% {
          fill: #0500ff;
        }
        76% {
          fill: #1cc637;
        }
        100% {
          fill: #1cc637;
        }
      }

      @keyframes greenLightChange {
        0% {
          fill: #1cc637;
        }
        25% {
          fill: #1cc637;
        }
        26% {
          fill: #ff0000;
        }
        50% {
          fill: #ff0000;
        }
        51% {
          fill: #fee503;
        }
        75% {
          fill: #fee503;
        }
        76% {
          fill: #0500ff;
        }
        100% {
          fill: #0500ff;
        }
      }

      @keyframes blueLightChange {
        0% {
          fill: #0500ff;
        }
        25% {
          fill: #0500ff;
        }
        26% {
          fill: #1cc637;
        }
        50% {
          fill: #1cc637;
        }
        51% {
          fill: #ff0000;
        }
        75% {
          fill: #ff0000;
        }
        76% {
          fill: #fee503;
        }
        100% {
          fill: #fee503;
        }
      }
      @keyframes yellowLightChange {
        0% {
          fill: #fee503;
        }
        25% {
          fill: #fee503;
        }
        26% {
          fill: #0500ff;
        }
        50% {
          fill: #0500ff;
        }
        51% {
          fill: #1cc637;
        }
        75% {
          fill: #1cc637;
        }
        76% {
          fill: #ff0000;
        }
        100% {
          fill: #ff0000;
        }
      }
    }
  }

  .ducks {
    width: 85%;
    height: 80%;

    .duck {
      width: 50px;
      height: 50px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .one {
      background-image: url(assets/duck_one.svg);
    }
    .two {
      background-image: url(assets/duck_two.svg);
    }

    .duck1 {
      top: 70%;
      left: 70%;
      transform: rotate(150deg);
      animation: duck1 11s infinite forwards ease-in-out;
    }

    @keyframes duck1 {
      0% {
        transform: rotate(150deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(180deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(150deg) translateX(0) translateY(0);
      }
    }

    .duck2 {
      top: 18%;
      left: 72%;
      transform: rotate(269deg);
      animation: duck2 14s infinite forwards ease-in-out;
    }

    @keyframes duck2 {
      0% {
        transform: rotate(269deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(250deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(269deg) translateX(0) translateY(0);
      }
    }
    .duck3 {
      top: 40%;
      left: 65%;
      transform: rotate(39deg);
      animation: duck3 9s infinite forwards ease-in-out;
    }

    @keyframes duck3 {
      0% {
        transform: rotate(39deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(10deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(39deg) translateX(0) translateY(0);
      }
    }

    .duck4 {
      top: 60%;
      left: 50%;
      transform: rotate(75deg);
      animation: duck4 13s infinite forwards ease-in-out;
    }

    @keyframes duck4 {
      0% {
        transform: rotate(75deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(100deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(75deg) translateX(0) translateY(0);
      }
    }

    .duck5 {
      top: 25%;
      left: 42%;
      transform: rotate(124deg);
      animation: duck5 8s infinite forwards ease-in-out;
    }
    @keyframes duck5 {
      0% {
        transform: rotate(124deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(140deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(124deg) translateX(0) translateY(0);
      }
    }

    .duck6 {
      top: 45%;
      left: 34%;
      transform: rotate(187deg);
      animation: duck6 10s infinite forwards ease-in-out;
    }
    @keyframes duck6 {
      0% {
        transform: rotate(187deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(150deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(187deg) translateX(0) translateY(0);
      }
    }

    .duck7 {
      top: 63%;
      left: 20%;
      transform: rotate(300deg);
      animation: duck7 15s infinite forwards ease-in-out;
    }
    @keyframes duck7 {
      0% {
        transform: rotate(300deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(330deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(300deg) translateX(0) translateY(0);
      }
    }

    .duck8 {
      top: 24%;
      left: 17%;
      transform: rotate(340deg);
      animation: duck8 7s infinite forwards ease-in-out;
    }
    @keyframes duck8 {
      0% {
        transform: rotate(340deg) translateX(0) translateY(0);
      }

      50% {
        transform: rotate(300deg) translateX(10px) translateY(14px);
      }

      100% {
        transform: rotate(340deg) translateX(0) translateY(0);
      }
    }

    .chosen {
      display: none;
    }
  }
}

/********** Tavle ***********/

#tablet {
  background-image: url(/assets/board.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  height: min-content;
  max-width: 85vw;
  margin: 20px auto;
  display: grid;
  grid-template-rows: auto auto auto 1fr;

  h3 {
    text-align: center;
    font-size: 30px;
    color: $textColor;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: hilde-sharp, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  p {
    color: $textColor;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: hilde-sharp, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .yourducks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: min-content;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: auto;

    p {
      margin: 5px 0 0;
    }

    .chosenduck {
      width: 50px;
      height: 50px;
      border: 2px solid black;
      margin: 0 10px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .gameGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1100px;
    width: 90vw;
    margin: 0 auto;
    grid-gap: 40px;
  }

  #tablet {
    margin: 40px auto;
    padding: 100px 3vw 40px;
    min-height: min-content;
    background-size: contain;
    height: 43.725vw;
    max-width: 85vw;
    max-height: 500px;
  }

  .water {
    height: 43.725vw;
    width: 55vw;
    max-width: 625px;
    max-height: 496.875px;
    margin: 40px auto 0;
    border-radius: 10%;
    background-image: url(/assets/screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
  }

  #game {
    .ducks {
      .duck {
        width: 75px;
        height: 75px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #tablet {
    margin: 40px auto;
    padding: 100px 5vw 40px;
    min-height: min-content;
    background-size: contain;
    height: 43.725vw;
    max-width: 85vw;
    max-height: 500px;
  }

  #game {
    .ducks {
      .duck {
        width: 85px;
        height: 85px;
      }
    }
  }
}

@media only screen and (min-width: 1450px) {
  .gameGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1400px;
    width: 90vw;
    margin: 0 auto;
    grid-gap: 40px;
  }

  #tablet {
    margin: 100px auto;
    padding: 20px;
    min-height: min-content;
    height: 43.725vw;
    max-width: 85vw;
    max-height: 715.5px;
  }

  .water {
    height: 43.725vw;
    width: 55vw;
    max-width: 900px;
    max-height: 715.5px;
    margin: 100px auto 0;
    border-radius: 10%;
    background-image: url(/assets/screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
  }

  #game {
    .ducks {
      .duck {
        width: 75px;
        height: 75px;
      }
    }
  }
}

/******* FORM AND INPUT********/

.inputFields {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

form {
  width: min-content;
  height: min-content;
  background-color: white;
  padding: 30px 0px 0px;
  border: red solid 2px;
  border-radius: 10px;
  z-index: -3;
  overflow: hidden;

  .textField {
    position: relative;
    margin: 0 20px 20px;

    label {
      color: #2d2d2d;
      font-family: Baskervville, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      position: absolute;
      z-index: -1;
      top: -2px;
      left: 1px;
      bottom: 0;
      transition: 0.2s ease-in-out;
      width: 300px;
    }

    input:focus + label {
      top: -20px;
      font-size: 15px;
    }

    input:valid + label {
      top: -20px;
      font-size: 15px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="email"] {
      width: 60vw;
      max-width: 500px;
      font-size: 15px;
      padding: 5px 3px 2px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: #2d2d2d;
      border-bottom: 1px solid red;
      font-family: Raleway, sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    input:valid {
      border-bottom: 2px solid rgb(14, 170, 0);
    }
  }
}

.sex {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  margin: 0 20px 30px;

  p {
    color: #2d2d2d;
    font-family: Baskervville, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  input[type="radio"] + label {
    color: #2d2d2d;
    border: 1px solid red;
    padding: 5px 10px;
    transition: 0.3s;
    font-family: Baskervville, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
  }

  .man + label {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .woman + label {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  input[type="radio"]:checked + label {
    border: 1px solid rgb(14, 170, 0);
    color: #2d2d2d;
  }
}

.money {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0 20px 20px;

  p {
    color: #2d2d2d;
    font-family: Baskervville, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  select {
    width: 100%;
    outline: none;
    border: 1px solid red;
    background-color: white;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  select:valid {
    border: 1px solid rgb(14, 170, 0);
  }
}

input[type="submit"] {
  width: 100%;
  font-size: 20px;
  padding: 15px 0px;
  border: 1px solid red;
  background-color: red;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-style: normal;
  transition: 0.3s;
  cursor: pointer;
}

input[type="submit"]:hover {
  letter-spacing: 3px;
}

@media only screen and (min-width: 700px) {
  form {
    .textField {
      position: relative;
      margin: 0 20px 25px;

      label {
        font-size: 18px;
        top: 0px;
      }

      input[type="text"],
      input[type="tel"],
      input[type="number"],
      input[type="email"] {
        font-size: 16px;
      }
    }
  }

  .sex {
    p {
      font-size: 18px;
    }

    input[type="radio"] + label {
      padding: 5px 13px;
      font-size: 16px;
    }
  }

  .money {
    p {
      font-size: 18px;
    }

    select {
      font-size: 16px;
    }
  }
}

/*********** FOOTER *********/

footer {
  height: min-content;
  width: 100vw;
  background-color: black;
  padding: 20px;
  color: #eeeeee;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  h4 {
    text-align: center;
    margin: 20px 0 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  p {
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: center;
  }
}

.footerContentWidth {
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .footerContentWidth {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/******** Generel Classes *********/

.hide {
  display: none;
}

section_1 {
  h1 {
    color: black;
    text-align: center;
    border: solid;
    width: 10vw;
    margin: auto;
  }
  h2 {
    color: black;
    font-size: 3rem;
    border: solid;
    width: 30vw;
    text-align: center;
    margin: 0;
    margin-bottom: 2vw;
  }
}

#add {
  button {
    width: 5vw;
    position: absolute;
    right: 2%;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  .remove {
    display: none;
  }

  .notValid {
    background: red;
  }
}

section_1 {
  display: grid;
  justify-content: center;
}
