* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

h1,
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#tentBackground {
  background-image: repeating-linear-gradient(90deg, red, red 50px, white 50px, white 100px);
  background-image: url(/assets/tent.svg);
  width: 100vw;
  min-height: 100vh;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-size: cover;
  background-position: center top;
  position: relative;
  padding-bottom: 30px;
}

#tentBackground header {
  width: 100%;
  text-align: center;
  color: #000000;
  padding: 40px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

#tentBackground header .heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#tentBackground header .logo {
  background-image: url(/assets/logo-02.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 140%;
  width: 70vw;
  background-position: center;
}

#tentBackground header .admin {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  font-family: sans-serif;
  cursor: pointer;
}

#tentBackground header .admin .icon {
  background-image: url(/assets/admin_button.svg);
  background-size: contain;
  height: 40px;
  width: 40px;
}

/********** SPIL **********/
.water {
  height: 67.575vw;
  width: 85vw;
  max-width: 402.5px;
  max-height: 320px;
  margin: 40px auto 0;
  border-radius: 10%;
  background-image: url(/assets/screen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.ripple {
  background-image: url(/assets/screen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  height: 82%;
  width: 85%;
  position: absolute;
  z-index: 0;
  -webkit-filter: url("#turbulence");
          filter: url("#turbulence");
}

@-webkit-keyframes water {
  0% {
    background-size: 95%;
  }
  25% {
    background-size: 93%;
  }
  50% {
    background-size: 95%;
  }
  75% {
    background-size: 97%;
  }
  100% {
    background-size: 95%;
  }
}

@keyframes water {
  0% {
    background-size: 95%;
  }
  25% {
    background-size: 93%;
  }
  50% {
    background-size: 95%;
  }
  75% {
    background-size: 97%;
  }
  100% {
    background-size: 95%;
  }
}

#game {
  background-image: url(/assets/edge.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  z-index: 2;
}

#game .ducks {
  width: 85%;
  height: 80%;
}

#game .ducks .duck {
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#game .ducks .one {
  background-image: url(assets/duck_one.svg);
}

#game .ducks .two {
  background-image: url(assets/duck_two.svg);
}

#game .ducks .duck1 {
  top: 70%;
  left: 70%;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation: duck1 11s infinite forwards ease-in-out;
          animation: duck1 11s infinite forwards ease-in-out;
}

@-webkit-keyframes duck1 {
  0% {
    -webkit-transform: rotate(150deg) translateX(0) translateY(0);
            transform: rotate(150deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(10px) translateY(14px);
            transform: rotate(180deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(150deg) translateX(0) translateY(0);
            transform: rotate(150deg) translateX(0) translateY(0);
  }
}

@keyframes duck1 {
  0% {
    -webkit-transform: rotate(150deg) translateX(0) translateY(0);
            transform: rotate(150deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(10px) translateY(14px);
            transform: rotate(180deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(150deg) translateX(0) translateY(0);
            transform: rotate(150deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck2 {
  top: 18%;
  left: 72%;
  -webkit-transform: rotate(269deg);
          transform: rotate(269deg);
  -webkit-animation: duck2 14s infinite forwards ease-in-out;
          animation: duck2 14s infinite forwards ease-in-out;
}

@-webkit-keyframes duck2 {
  0% {
    -webkit-transform: rotate(269deg) translateX(0) translateY(0);
            transform: rotate(269deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(250deg) translateX(10px) translateY(14px);
            transform: rotate(250deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(269deg) translateX(0) translateY(0);
            transform: rotate(269deg) translateX(0) translateY(0);
  }
}

@keyframes duck2 {
  0% {
    -webkit-transform: rotate(269deg) translateX(0) translateY(0);
            transform: rotate(269deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(250deg) translateX(10px) translateY(14px);
            transform: rotate(250deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(269deg) translateX(0) translateY(0);
            transform: rotate(269deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck3 {
  top: 40%;
  left: 65%;
  -webkit-transform: rotate(39deg);
          transform: rotate(39deg);
  -webkit-animation: duck3 9s infinite forwards ease-in-out;
          animation: duck3 9s infinite forwards ease-in-out;
}

@-webkit-keyframes duck3 {
  0% {
    -webkit-transform: rotate(39deg) translateX(0) translateY(0);
            transform: rotate(39deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(10deg) translateX(10px) translateY(14px);
            transform: rotate(10deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(39deg) translateX(0) translateY(0);
            transform: rotate(39deg) translateX(0) translateY(0);
  }
}

@keyframes duck3 {
  0% {
    -webkit-transform: rotate(39deg) translateX(0) translateY(0);
            transform: rotate(39deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(10deg) translateX(10px) translateY(14px);
            transform: rotate(10deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(39deg) translateX(0) translateY(0);
            transform: rotate(39deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck4 {
  top: 60%;
  left: 50%;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
  -webkit-animation: duck4 13s infinite forwards ease-in-out;
          animation: duck4 13s infinite forwards ease-in-out;
}

@-webkit-keyframes duck4 {
  0% {
    -webkit-transform: rotate(75deg) translateX(0) translateY(0);
            transform: rotate(75deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(100deg) translateX(10px) translateY(14px);
            transform: rotate(100deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(75deg) translateX(0) translateY(0);
            transform: rotate(75deg) translateX(0) translateY(0);
  }
}

@keyframes duck4 {
  0% {
    -webkit-transform: rotate(75deg) translateX(0) translateY(0);
            transform: rotate(75deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(100deg) translateX(10px) translateY(14px);
            transform: rotate(100deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(75deg) translateX(0) translateY(0);
            transform: rotate(75deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck5 {
  top: 25%;
  left: 42%;
  -webkit-transform: rotate(124deg);
          transform: rotate(124deg);
  -webkit-animation: duck5 8s infinite forwards ease-in-out;
          animation: duck5 8s infinite forwards ease-in-out;
}

@-webkit-keyframes duck5 {
  0% {
    -webkit-transform: rotate(124deg) translateX(0) translateY(0);
            transform: rotate(124deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(140deg) translateX(10px) translateY(14px);
            transform: rotate(140deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(124deg) translateX(0) translateY(0);
            transform: rotate(124deg) translateX(0) translateY(0);
  }
}

@keyframes duck5 {
  0% {
    -webkit-transform: rotate(124deg) translateX(0) translateY(0);
            transform: rotate(124deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(140deg) translateX(10px) translateY(14px);
            transform: rotate(140deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(124deg) translateX(0) translateY(0);
            transform: rotate(124deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck6 {
  top: 45%;
  left: 34%;
  -webkit-transform: rotate(187deg);
          transform: rotate(187deg);
  -webkit-animation: duck6 10s infinite forwards ease-in-out;
          animation: duck6 10s infinite forwards ease-in-out;
}

@-webkit-keyframes duck6 {
  0% {
    -webkit-transform: rotate(187deg) translateX(0) translateY(0);
            transform: rotate(187deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(150deg) translateX(10px) translateY(14px);
            transform: rotate(150deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(187deg) translateX(0) translateY(0);
            transform: rotate(187deg) translateX(0) translateY(0);
  }
}

@keyframes duck6 {
  0% {
    -webkit-transform: rotate(187deg) translateX(0) translateY(0);
            transform: rotate(187deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(150deg) translateX(10px) translateY(14px);
            transform: rotate(150deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(187deg) translateX(0) translateY(0);
            transform: rotate(187deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck7 {
  top: 63%;
  left: 20%;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation: duck7 15s infinite forwards ease-in-out;
          animation: duck7 15s infinite forwards ease-in-out;
}

@-webkit-keyframes duck7 {
  0% {
    -webkit-transform: rotate(300deg) translateX(0) translateY(0);
            transform: rotate(300deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(330deg) translateX(10px) translateY(14px);
            transform: rotate(330deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(300deg) translateX(0) translateY(0);
            transform: rotate(300deg) translateX(0) translateY(0);
  }
}

@keyframes duck7 {
  0% {
    -webkit-transform: rotate(300deg) translateX(0) translateY(0);
            transform: rotate(300deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(330deg) translateX(10px) translateY(14px);
            transform: rotate(330deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(300deg) translateX(0) translateY(0);
            transform: rotate(300deg) translateX(0) translateY(0);
  }
}

#game .ducks .duck8 {
  top: 24%;
  left: 17%;
  -webkit-transform: rotate(340deg);
          transform: rotate(340deg);
  -webkit-animation: duck8 7s infinite forwards ease-in-out;
          animation: duck8 7s infinite forwards ease-in-out;
}

@-webkit-keyframes duck8 {
  0% {
    -webkit-transform: rotate(340deg) translateX(0) translateY(0);
            transform: rotate(340deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(300deg) translateX(10px) translateY(14px);
            transform: rotate(300deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(340deg) translateX(0) translateY(0);
            transform: rotate(340deg) translateX(0) translateY(0);
  }
}

@keyframes duck8 {
  0% {
    -webkit-transform: rotate(340deg) translateX(0) translateY(0);
            transform: rotate(340deg) translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: rotate(300deg) translateX(10px) translateY(14px);
            transform: rotate(300deg) translateX(10px) translateY(14px);
  }
  100% {
    -webkit-transform: rotate(340deg) translateX(0) translateY(0);
            transform: rotate(340deg) translateX(0) translateY(0);
  }
}

#game .ducks .chosen {
  display: none;
}

/********** Tavle ***********/
#tablet {
  background-image: url(/assets/board.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-width: 85vw;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto 1fr;
      grid-template-rows: auto auto auto 1fr;
}

#tablet h3 {
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: hilde-sharp, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#tablet p {
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: hilde-sharp, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#tablet .yourducks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: auto;
}

#tablet .yourducks p {
  margin: 5px 0 0;
}

#tablet .yourducks .chosenduck {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  margin: 0 10px;
}

@media only screen and (min-width: 1000px) {
  .gameGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    max-width: 1100px;
    width: 90vw;
    margin: 0 auto;
    grid-gap: 40px;
  }
  #tablet {
    margin: 40px auto;
    padding: 100px 3vw 40px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    background-size: contain;
    height: 43.725vw;
    max-width: 85vw;
    max-height: 500px;
  }
  .water {
    height: 43.725vw;
    width: 55vw;
    max-width: 625px;
    max-height: 496.875px;
    margin: 40px auto 0;
    border-radius: 10%;
    background-image: url(/assets/screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
  }
  #game .ducks .duck {
    width: 75px;
    height: 75px;
  }
}

@media only screen and (min-width: 1200px) {
  #tablet {
    margin: 40px auto;
    padding: 100px 5vw 40px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    background-size: contain;
    height: 43.725vw;
    max-width: 85vw;
    max-height: 500px;
  }
  #game .ducks .duck {
    width: 85px;
    height: 85px;
  }
}

@media only screen and (min-width: 1450px) {
  .gameGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    max-width: 1400px;
    width: 90vw;
    margin: 0 auto;
    grid-gap: 40px;
  }
  #tablet {
    margin: 100px auto;
    padding: 20px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    height: 43.725vw;
    max-width: 85vw;
    max-height: 715.5px;
  }
  .water {
    height: 43.725vw;
    width: 55vw;
    max-width: 900px;
    max-height: 715.5px;
    margin: 100px auto 0;
    border-radius: 10%;
    background-image: url(/assets/screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
  }
  #game .ducks .duck {
    width: 75px;
    height: 75px;
  }
}

/******* FORM AND INPUT********/
.inputFields {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
  padding: 30px 0px 0px;
  border: red solid 2px;
  border-radius: 10px;
  z-index: -3;
  overflow: hidden;
}

form .textField {
  position: relative;
  margin: 0 20px 20px;
}

form .textField label {
  color: #2d2d2d;
  font-family: Baskervville, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  position: absolute;
  z-index: -1;
  top: -2px;
  left: 1px;
  bottom: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 300px;
}

form .textField input:focus + label {
  top: -20px;
  font-size: 15px;
}

form .textField input:valid + label {
  top: -20px;
  font-size: 15px;
}

form .textField input[type="text"],
form .textField input[type="tel"],
form .textField input[type="number"],
form .textField input[type="email"] {
  width: 60vw;
  max-width: 500px;
  font-size: 15px;
  padding: 5px 3px 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #2d2d2d;
  border-bottom: 1px solid red;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

form .textField input:valid {
  border-bottom: 2px solid #0eaa00;
}

.sex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 30px;
}

.sex p {
  color: #2d2d2d;
  font-family: Baskervville, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.sex input[type="radio"] + label {
  color: #2d2d2d;
  border: 1px solid red;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: Baskervville, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  cursor: pointer;
}

.sex .man + label {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sex .woman + label {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sex input[type="radio"]:checked + label {
  border: 1px solid #0eaa00;
  color: #2d2d2d;
}

.money {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px;
}

.money p {
  color: #2d2d2d;
  font-family: Baskervville, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.money select {
  width: 100%;
  outline: none;
  border: 1px solid red;
  background-color: white;
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.money select:valid {
  border: 1px solid #0eaa00;
}

input[type="submit"] {
  width: 100%;
  font-size: 20px;
  padding: 15px 0px;
  border: 1px solid red;
  background-color: red;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-style: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

input[type="submit"]:hover {
  letter-spacing: 3px;
}

@media only screen and (min-width: 700px) {
  form .textField {
    position: relative;
    margin: 0 20px 25px;
  }
  form .textField label {
    font-size: 18px;
    top: 0px;
  }
  form .textField input[type="text"],
  form .textField input[type="tel"],
  form .textField input[type="number"],
  form .textField input[type="email"] {
    font-size: 16px;
  }
  .sex p {
    font-size: 18px;
  }
  .sex input[type="radio"] + label {
    padding: 5px 13px;
    font-size: 16px;
  }
  .money p {
    font-size: 18px;
  }
  .money select {
    font-size: 16px;
  }
}

/*********** FOOTER *********/
footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100vw;
  background-color: black;
  padding: 20px;
  color: #eeeeee;
}

footer h2 {
  text-align: center;
  margin-bottom: 15px;
}

footer h4 {
  text-align: center;
  margin: 20px 0 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer p {
  margin-bottom: 10px;
  font-family: sans-serif;
  text-align: center;
}

.footerContentWidth {
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .footerContentWidth {
    max-width: 1000px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/******** Generel Classes *********/
.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */